<section id="about-me">
  <div class="container">
    <img src="#">
    <span class="title">About Me</span>
    <div id="bio">
      <p>I'm a front-end web developer looking for a entry-level position in a company that cultivates pride in worksmanship and offers opportunities for growth into full-stack Javascript. Unit testing and code review are a big plus for any potential employers. I'm passionate about Javascript, especially ES6 and recursive functions, and creating intuitive user experiences through well-designed code is my goal.</p>
      <p>In my spare time I enjoy surfing, podcasts, and Javascript meetups.  Most of all, I love learning. If you like what you have read so far and you are interested in building things together, please don't hesitate to <a href="#">contact me</a>.</p>
    </div><!--bio-->
  </div><!--container-->
</section>
