<section id="about-me">
  <div class="container">
    <div class="title">
      <span>My Story</span>
    </div>
    <div id="bio">
      <div id="bio-img"><img id="head-shot" src="images/about-me/headshot.jpg"></div>
      <div id="bio-p"><p id="my-story">I'm a front-end web developer looking for an entry-level position with a company that values curiousity and offers opportunities for growth into full-stack Javascript. As a self-taught programmer, I understand what it means to take the initiative. In my previous career, I worked for Outward Bound and the New York City public schools, and I take pride in making a difference. I'm passionate about Javascript, especially recursive functions and functional programming. I live in New York City, where you will usually find me with either my laptop, my french press, or my surfboard.</p></div>
    </div><!--bio-->
  </div><!--container-->
</section>
