<section id="about-me">
  <div class="container">
    <div><span class="title">My Story</span></div>
    <div id="bio">
      <div id="bio-img"><img id="head-shot" src="images/about-me/headshot.jpg"></div>
      <div id="bio-p"><p id="my-story">I'm a front-end web developer looking for a entry-level position with a company that cultivates pride in worksmanship and offers opportunities for growth into full-stack Javascript. Unit testing and code review are a big plus for any potential employers. I'm passionate about Javascript, especially ES6 and recursive functions, and creating intuitive user experiences through well-designed code is my goal.</p></div>
    </div><!--bio-->
  </div><!--container-->
</section>
