<section id="contact">
  <div class="container">
    <span class="title">Contact</span>
    <div id="links-box">
      <div class="contact" id="email" data-square="1">
        <a href="mailto:rocksandwoks@gmail.com">
          <p>Email</p>
          <p><i class="fa fa-envelope" aria-hidden="true"></i>
          </p>
        </a>
      </div>
      <div class="contact" id="github" data-square="2">
        <a href="https://github.com/halfalpine">
          <p>Github</p>
          <p><i class="fa fa-github" aria-hidden="true"></i>
          </p>
        </a>
      </div>
      <div class="contact" id="twitter" data-square="3">
        <a href="https://twitter.com/halfalpine">
          <p>Twitter</p>
          <p><i class="fa fa-twitter" aria-hidden="true"></i>
          </p>
        </a>
      </div>
      <div class="contact" id="linkedin">
        <a href="https://www.linkedin.com/in/dirk-peters-4ab112a0">
          <p>LinkedIn</p>
          <p><i class="fa fa-linkedin" aria-hidden="true"></i>
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
