<header id="header">
  <nav>
    <span>halfalpine.github.io</span>
    <div id="drop-down">
      <i id="menu-icon" class="fa fa-bars" aria-hidden="true"></i>
      <ul class="page-list hidden">
        {% for section in site.data.document.sections %}
        <li class="page-item"><a class="header-links" href="{{ section.url }}">{{ section.name }}</a></li>
        {% endfor %}
      </ul>
    </div><!--drop-down-->
  </nav>
  <div id="banner" class="center">
    <h1 id="banner-title">Dirk Peters</h1>
    <p id="banner-subtitle">Web Developer</p>
  </div>
</header>
