<section id="projects">
  <div class="container">
    <div id="project-box">
      {% for project in site.projects %}
      <div class="project">
        <a href="{{ site.github.url }}{{ project.url }}">
          <div class="project-content">
          <img class="thumb" src="{{ project.thumbnail }}">
          <div class="project-info">
            <div class="project-title">{{ project.title }}</div>
            <div class="project-skills">{{ project.skills }}</div>
            <div class="project-reflection">Reflection</div>
          </div><!--project-info-->
        </div> <!--project-content-->
      </a>
    </div><!--project-->
    {% endfor %}
  </div><!--project-box-->
</div><!--container-->
</section>
