<section id="resume">
  <div class="container">
    <span class="title">Resume</span>
    <section id="employment">
    <header>
      <h2 class="resume-section">Employment Experience</h2>
    </header>
    <div class="resume-item">
      <h3 class="resume-title">New York City Public Schools</h3>
      <h4 class="resume-subtitle">Teacher &bull; 2010 &mdash; Present</h4>
      <p class="resume-description">I’m currently teaching part-time as a substitute at Louis Armstrong Middle School in Jackson Heights, Queens. Prior to that, I spent five years teaching at Arturo A. Schomburg Satellite Academy High School in the South Bronx, where I pursued excellence in English education while helping develop alternatives to high-stakes standardized testing.</p>
      <ul class="resume-list">
        <li>&bull; Developed a customized English curriculum to target students' individual learning needs</li>
        <li>&bull; Created a daily student assessment tool adopted by staff across the school</li>
        <li>&bull; Targeted student learning goals based on performance data</li>
        <li>&bull; Advocated for staff and students as UFT Chapter Leader</li>
      </ul>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">Colorado Outward Bound School</h3>
      <h4 class="resume-subtitle">Instructor &bull; 2006 &mdash; 2013</h4>
      <p class="resume-description">I used the pedagogy of "learning by doing" as a tool to inspire and compassionately push diverse groups of students from all over the United States towards self-actualization through a progression of carefully planned physical and emotional challenges in a wilderness setting.</p>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">Manhattan Plaza Health Club</h3>
      <h4 class="resume-subtitle">Instructor &bull; 2008 &mdash; 20012</h4>
      <p class="resume-description">I helped build New York City's premier climbing community through both attentive customer service and expert rock climbing instruction.</p>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">Delaware North at Yosemite</h3>
      <h4 class="resume-subtitle">Service Worker &bull; 2001 &mdash; 2005</h4>
      <p class="resume-description">I lived and worked in Yosemite in pursuit of my life-long passion for rock climbing. Along the way, I cleaned many hotel rooms were cleaned, many tables were bussed, and many floors were swept. (Oh, and the climbing was not bad either.)</p>
    </div>
  </section>
  <section id="Eductaion">
    <header>
      <h2 class="resume-section">Education</h2>
    </header>
    <div class="resume-item">
      <h3 class="resume-title">Columbia University</h3>
      <h4 class="resume-subtitle">Master's Degree, Teaching of English &bull; 2008 &mdash; 2010</h4>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">University of Georgia</h3>
      <h4 class="resume-subtitle">Bachelor's Degree, Journalism &bull; 2008 &mdash; 2010</h4>
    </div>
  </section>
  <section id="community">
    <header>
      <h2 class="resume-section">Community Involvement</h2>
    </header>
    <div class="resume-item">
      <h3 class="resume-title">Free Code Camp</h3>
      <h4 class="resume-subtitle">Student &bull; April 2016 &mdash; Present</h4>
      <p class="resume-description">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">UFT Chapter Leader</h3>
      <h4 class="resume-subtitle">Schomburg Satellite Academy &bull; 2013 &mdash; 2015</h4>
      <p class="resume-description">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">Better Bronx Schools</h3>
      <h4 class="resume-subtitle">Founder &bull; 2011 &mdash; 2012</h4>
      <p class="resume-description">Donut Locator is an open source node/ember app that lets users find donuts within a defined radius from their home.</p>
    </div>
  </section>
  </div>
</section>
