<section id="resume">
  <div class="container">
    <div class="title">
    <span>Resume</span>
    </div>
    <section id="skills">
      <header>
        <h2 class="resume-section">Skills</h2>
      </header>
      <div class="resume-item">
        <p class="resume-description">&bull; Javascript + ES6, CSS + SASS, HTML, Git, Bash
      </div>
    </section>
    <section id="res-projects">
      <header>
        <h2 class="resume-section">Projects</h2>
      </header>
      <div class="resume-item">
        <h3 class="resume-title">Where2Surf</h3>
        <h4 class="resume-subtitle">Javascript, Express, Jasmine, SASS, HTML, Bash</h4>
        <p class="resume-description">&bull; Designed a clean user interface with responsive CSS</p>
        <p class="resume-description">&bull; Wrote tests in Jasmine to validate forecasting logic</p>
        <p class="resume-description">&bull; Deployed production version of the web app to remote server</p>
      </div>
      <div class="resume-item">
        <h3 class="resume-title">Simon</h3>
        <h4 class="resume-subtitle">Javascript, jQuery, CSS, HTML</h4>
        <p class="resume-description">&bull; Used separation of concerns to distinguish data, events, and functionality</p>
        <p class="resume-description">&bull; Adapted to gain functionality across a variety of desktop and mobile platforms</p>
      </div>
      <div class="resume-item">
        <h3 class="resume-title">Calculator</h3>
        <h4 class="resume-subtitle">FJavascript, jQuery, CSS, HTML</h4>
        <p class="resume-description">&bull; Separated program logic into small component functions</p>
        <p class="resume-description">&bull; Added game features including lights, sounds, and strict mode</p>
      </div>
    </section>
    <section id="employment">
    <header>
      <h2 class="resume-section">Employment Experience</h2>
    </header>
    <div class="resume-item">
      <h3 class="resume-title">Cornfed Designs</h3>
      <h4 class="resume-subtitle">Freelance &bull; March 2017</h4>
      <p class="resume-description">Refactored font-end code & optimized static assets</p>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">New York City Public Schools</h3>
      <h4 class="resume-subtitle">Teacher &bull; 2010 &mdash; Present</h4>
      <p class="resume-description">High school English teacher, curriculum developer, and union chapter leader</p>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">Colorado Outward Bound School</h3>
      <h4 class="resume-subtitle">Instructor &bull; 2006 &mdash; 2013</h4>
      <p class="resume-description">Mountaineering guide, soft skills educator, internationally experienced</p>
    </div>
  </section>
  <section id="Eductaion">
    <header>
      <h2 class="resume-section">Education</h2>
    </header>
    <div class="resume-item">
      <h3 class="resume-title">Columbia University</h3>
      <h4 class="resume-subtitle">Master's Degree, Teaching of English &bull; 2008 &mdash; 2010</h4>
    </div>
    <div class="resume-item">
      <h3 class="resume-title">University of Georgia</h3>
      <h4 class="resume-subtitle">Bachelor's Degree, Journalism &bull; 2008 &mdash; 2010</h4>
    </div>
  </section>
  </div>
</section>
