#about-me
  width: 80%
  margin: 10% auto 0
  text-align: center

  #bio
    display: flex
    flex-wrap: wrap
    margin-top: 10%

    #bio-img
      display: flex
      flex-wrap: wrap

    #bio-p
      display: flex
      flex-wrap: wrap
