#about-me
  width: 80%
  margin: 10% auto 0
  &:before
    content: ''
    display: block
    height: 5em

  #bio
    margin-top: 10%
    width: 100%

    #bio-img
      display: inline-block
      float: left
      margin-right: 5%
      text-align: left
      img
        border: 1px solid black
        border-radius: 5%

    #bio-p
      text-align: left
      vertical-align: text-top

@media (min-width: 415px) and (max-width: 768px)

  #about-me
    width: 60%

    #bio-img
      margin-right: 2%

    #bio-p
      text-indent: 2em

@media (min-width: 769px)

  #about-me
    max-width: 780px
    width: 50%

    #bio
      width: 100%

      #bio-img
        margin-right: 2%

      #bio-p
        text-indent: 2em
