#contact
  margin-top: 10%
  //background-color: white

  .title
    display: table
    margin: 0 auto
    &:before
      content: ''
      display: block
      height: 5em

  #links-box
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: auto
    padding: 10% 0
    width: 67%

  .contact
    width: 50%
    padding: 10% 0
    font-size: 1.8em
    border: 1px solid black
    transition-duration: 2s

  p
    text-align: center

  .fa
    font-size: 1.5em
