#contact
  width: 80%
  margin: 0 auto
  margin-top: 10%
  //background-color: white
  &:before
    content: ''
    display: block
    height: 5em

  .title
    margin: 0 auto

  #links-box
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin: auto
    padding: 10% 0
    width: 80%

  .contact
    width: 50%
    padding: 10% 0
    font-size: 1.8em
    border: 1px solid black
    transition-duration: 2s

  p
    text-align: center

  .fa
    font-size: 1.5em

@media (min-width: 415px) and (max-width: 768px)

  #contact
    width: 60%



@media (min-width: 768px)

  #contact

    .title
      width: 50%

    #links-box
      width: 60%
