footer
  background-image: url("../images/header/skyline_silo.jpg")
  background-size: cover
  margin: 5% 0
  text-align: center
  font-size: 0.75em

  a
    color: black

  p
    padding-bottom: 2%

  #thanks
    margin: 2%

  .page-list
    display: flex
    justify-content: space-between

  .page-items
    width: 25%
    padding: 2%
    border: 1px solid black
    border-radius: 5%
