footer
  background-image: url("../images/header/skyline_silo.jpg")
  background-size: cover
  padding: 5% 1%
  border-top: 1px solid black
  border-bottom: 1px solid black
  text-align: center
  font-size: 0.75em

  a
    color: black

  p
    padding-bottom: 2%
    &:first-child
      font-weight: 700

  #thanks
    margin: 2%

  .page-list
    display: flex
    justify-content: space-between

  .page-items
    width: 25%
    padding: 2%
    border: 1px solid black
    border-radius: 5%
    background-color: rgba(28, 78, 156, 0.2)

@media (min-width: 415px) and (max-width: 768px)


@media (min-width: 769px)

footer
  font-size: 1em

  #thanks
    width: 80%
    margin: auto

  ul
    display: flex
    justify-content: space-between
    width: 90%
    margin: auto

  .page-items
    width: 20%
    padding: 2%
    border: 1px solid black
    border-radius: 5%
    background-color: rgba(28, 78, 156, 0.2)
    font-size: 1.5em
