#projects
  width: 80%
  margin: 5% auto 0
  //padding: 5% 0 0 0
  &:before
    content: ''
    display: block
    height: 5em


  #project-box
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  .project
    border: 2px solid black
    //border-radius: 5%
    margin: 2% auto 0
    padding: 5%
    a
      color: black

    .thumb
      display: block
      width: 100%
      margin: 2% auto
      border: 2px solid black

    .project-info
      text-align: center
      padding-top: 5%
      padding: .25em 0

      .project-title
        font-size: 2em
        padding: inherit

      .project-skills
        padding: inherit

        .each-skill
          display: inline-block
          margin: 2%
          padding: 1%
          color: black
          background-color: white
          font-family: courier
          border-radius: 5%

      .project-reflection
        padding: inherit

@media (min-width: 415px) and (max-width: 768px)

  #projects
    .project
      width: 48%
      padding-top: 10%

@media (min-width: 768px)
  #projects
    .project
      width: 31%
      //background-color: red
