#projects
  width: 80%
  margin: auto
  padding: 5% 0 0 0

  #project-box
    display: flex
    flex-wrap: wrap
    justify-content: center

  .project
    border: 2px solid black
    border-radius: 5%
    margin: 5% auto
    padding: 5%

    .thumb
      display: block
      width: 100%
      margin: auto
      border: 2px solid black

    .project-info
      text-align: center
      padding-top: 5%
      padding: .25em 0

      .project-title
        font-size: 2em
        padding: inherit

      .project-skills
        padding: inherit

      .project-reflection
        padding: inherit

@media (min-width: 415px) and (max-width: 768px)

  #projects
    #project-box
    .project
      padding-top: 10%
      .thumb
      .project-info
        .project-title
        .project-skills
        .project-reflection

@media (min-width: 769px)

  #projects
    #project-box
    .project
      .thumb
      .project-info
        .project-title
        .project-skills
        .project-reflection
