#resume
  margin-top: 10%
  &:before
    content: ''
    display: block
    height: 5em

  section
    margin: 5%

  .title
    display: table
    margin: 0 auto
    margin-bottom: 1em

  .resume-section
    background-color: white
    border-top: 2px solid black
    border-bottom: 2px solid black
    text-align: center
    font-size: 1.5em
    font-weight: 700

  .resume-item
    padding: 2% 0

  .resume-title
    padding: 1% 0
    font-size: 1.5em
    font-weight: 700

  .resume-subtitle
    padding-bottom: 1%
    font-weight: 700

  ul
    padding: 2% 0

  li
    padding: 1% 2%

@media (min-width: 415px) and (max-width: 768px)



@media (min-width: 769px)

  #resume .container
    max-width: 780px
    width: 80%
    margin: auto
